@media print {
   #menu, #drawer {
     display: none;
   }
   #right {
      position: fixed;
      z-index: 9001;
      width: 100% !important;
      height: 100% !important;
      border: none !important;
      background: #fff;
      height: 100%;
      top: 0; right: 0; bottom: 0; left: 0;
   }
}
