.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

#app form {
  max-width: 800px;
}

form label {
  margin-top: 1.5em;
}

.modal-content {
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

.modal-content form {
  text-align: left;
}

.modal-content .left{
  width: 280px;
  float: left;
  margin: 0 40px;
}

.modal-content .right{
  width: 500px;
  float: left;
}

.modal-content button{
  margin: 26px 0 0 0;
}

.modal-content form .main{
  border: 1px solid #eee;
}

.disabled {
  color: #ccc;
}

.disabled input {
  border: 1px solid #ccc;
  color: #aaa;
}


.search input {
  max-width: 200px;
  display: inline-block;
}

.search input.sk-search-box__action{
  display: inline-block;
  text-transform: capitalize;
  margin: 10px;
  padding: 14px;
}

em {
  color: green;
  font-style: normal;
}

table th:nth-child(1),
table td:nth-child(1){
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
