#main{
  padding-top: 125px;
}

#main .box{
  min-height: 400px;
  width: 50%;
  float:left;
}

#main #left.box{
  border-right: none;
}

.box {
  border: 2px solid #ddd;
}

#data{
  margin-top: 20px;
  min-height: 130px;
}

.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
